@mixin box-shadow($box-shadow: 0 0 8px rgba(51, 51, 51, 0.15), $border-color: #eee, $border-radius: 5px){
	box-shadow: $box-shadow;
	border-radius: $border-radius;
	border: 1px solid $border-color;
}

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 499px) {
      @content;
    } //600px
  }
  @if $breakpoint == tab-port {
    @media only screen and (min-width: 600px) {
      @content;
    } //900px
  }
  @if $breakpoint == tab-land {
    @media only screen and (min-width: 900px) {
      @content;
    } //1200px
  }
	@if $breakpoint == desktop {
		@media only screen and (min-width: 1200px) {
			@content;
		}
	}
  @if $breakpoint == big {
    @media only screen and (min-width: 1800px) {
      @content;
    } //1800
  }
}
