
$color-black: rgb(0,0,0);
$color-black-2: rgb(52, 58, 64);
$color-black-3: rgba(51, 51, 51, .5); // #333 .15

$color-white: rgb(255,255,255);

$color-grey: rgb(238,238,238); // #eee;
$color-grey-2: #C4C4C4;

$color-green: #27ae60;

$color-warning: #e74c3c;
